label{
    display: block;
    margin: 10px;
    
    
}

main{
    background-color: aqua;
    width: fit-content;
    height: fit-content;
    padding: 70px;
    margin-left: 50px;
    border: 4px dotted black;
    margin-right: 30px;
    
}

input{
    /* display: block; */
    padding-right: 30px;
    border: 2px solid black;

}

.reset, .submit{
    color: white;
    background-color: rgba(137, 43, 226, 0.466);
    margin-top: 10px;
    border: 2px double blueviolet;
    box-shadow: 5px 10px 10px 5px rgba(128, 128, 128, 0.479);
}

fieldset{
    border: 2px dotted black;
}
center{
    display: block;
}

body{
    background-color: rgba(0, 255, 255, 0.192);
    border: 2px solid black;
    width: fit-content;
    display: inline-block;
    margin-left: 300px ;
    padding: 80px;
}
